
/* ---------------------  APP */
.App {
    min-height: 100vh;
}

/* ---------------------  HOME PAGE */

#homeContainer {
    background-image: url('./assets/images/underwater.jpg'); 
    background-size: cover;
    min-width: 100%;
    min-height: 90vh;
    height: 60%;
    overflow: hidden;
}

.homeLink{
    width: 70%;
}

#startOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.button1 {
    border-radius: 10px;
    background-color: rgb(6, 1, 26);
    opacity: .9;
    border-color: white;
    color: white;
    margin: 3%;
    width: 100%;
    height: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}


/* ---------------------  NAVBAR  */

#navBarLogo {
    width: 20%;
    height: auto;
}

#navBarContainer {
    background-color: rgb(6, 1, 26);
    min-width: 100%;
    height: 20%;

}
/* ---------------------  FOOTER  */

#footerLogo {
    width: 20%;
    height: auto;
}

#footerContainer {
    background-color: rgb(6, 1, 26);
    min-width: 100%;
    height: 20%;
}

/* ---------------------  REPORT SIGHTING PAGE  */
#sightingContainer {
    background-image: url('./assets/images/underwater.jpg');
    min-height: 100vh;
    min-width: 100vw;  
    background-size: cover;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sightingForm {
    color: white;
    background-color: rgb(6, 1, 26);
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    padding: 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}

.submitSightingReport {
    border-radius: 10px;
    background-color: rgb(6, 1, 26);
    border-color: white;
    color: white;
    width: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 

}